In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('amazon_sales_large_corrupted.csv')

In [22]:
data

,Order ID,Product Name,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,US-2017-434667,Tables A,Furniture,Tables,554.70,7,0.1,126.79
1,CA-2021-365005,Labels C,Office Supplies,Labels,24.36,3,0.4,3.37
2,CA-2020-401477,Machines A,Technology,Machines,531.72,3,0.4,39.92
3,IN-2015-398586,Paper C,Office Supplies,Paper,617.55,3,0.0,116.48
4,IN-2018-565349,Tables D,Furniture,Tables,972.67,7,0.2,194.54
...,...,...,...,...,...,...,...,...
495,IN-2017-952207,Phones B,Technology,Phones,NaN,5,0.4,39.72
496,US-2017-979008,Furnishings D,Furniture,Furnishings,339.38,8,0.2,65.81
497,IN-2019-980328,Labels D,Office Supplies,Labels,NaN,10,0.3,62.59
498,US-2017-870155,Storage B,Office Supplies,Storage,840.35,4,0.2,NaN
499,IN-2018-943633,Machines B,Technology,Machines,203.25,3,0.4,13.56

In [23]:
data.isnull().sum()

Order ID         0
Product Name     0
Category        29
Sub-Category     0
Sales           30
Quantity         0
Discount         0
Profit          30
dtype: int64

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      500 non-null    object
 1   Product Name  500 non-null    object
 2   Category      471 non-null    object
 3   Sub-Category  500 non-null    object
 4   Sales         470 non-null    float64
 5   Quantity      500 non-null    int64
 6   Discount      500 non-null    float64
 7   Profit        470 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 31.4+ KB

In [25]:
data.describe()

            Sales    Quantity    Discount      Profit
count  470.000000  500.000000  500.000000  470.000000
mean   515.433745    5.296000    0.203600   71.252085
std    291.753441    2.897097    0.145014   55.404945
min      7.830000    1.000000    0.000000    0.500000
25%    269.805000    3.000000    0.100000   26.697500
50%    508.115000    5.000000    0.200000   57.230000
75%    785.932500    8.000000    0.300000  105.490000
max    992.830000   10.000000    0.400000  258.740000

In [26]:
data.dropna()

,Order ID,Product Name,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,US-2017-434667,Tables A,Furniture,Tables,554.70,7,0.1,126.79
1,CA-2021-365005,Labels C,Office Supplies,Labels,24.36,3,0.4,3.37
2,CA-2020-401477,Machines A,Technology,Machines,531.72,3,0.4,39.92
3,IN-2015-398586,Paper C,Office Supplies,Paper,617.55,3,0.0,116.48
4,IN-2018-565349,Tables D,Furniture,Tables,972.67,7,0.2,194.54
...,...,...,...,...,...,...,...,...
489,IN-2020-120556,Paper A,Office Supplies,Paper,685.40,7,0.3,66.74
492,CA-2016-939525,Labels A,Office Supplies,Labels,358.07,6,0.3,24.72
493,US-2016-490347,Storage D,Office Supplies,Storage,728.48,6,0.2,83.23
496,US-2017-979008,Furnishings D,Furniture,Furnishings,339.38,8,0.2,65.81
499,IN-2018-943633,Machines B,Technology,Machines,203.25,3,0.4,13.56

In [27]:
mean = data['Sales'].mean()

In [28]:
data['Sales'] = data['Sales'].fillna(mean)

In [30]:
data['Profit'].isnull().sum()

30

In [31]:
data.dropna()

,Order ID,Product Name,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,US-2017-434667,Tables A,Furniture,Tables,554.700000,7,0.1,126.79
1,CA-2021-365005,Labels C,Office Supplies,Labels,24.360000,3,0.4,3.37
2,CA-2020-401477,Machines A,Technology,Machines,531.720000,3,0.4,39.92
3,IN-2015-398586,Paper C,Office Supplies,Paper,617.550000,3,0.0,116.48
4,IN-2018-565349,Tables D,Furniture,Tables,972.670000,7,0.2,194.54
...,...,...,...,...,...,...,...,...
493,US-2016-490347,Storage D,Office Supplies,Storage,728.480000,6,0.2,83.23
495,IN-2017-952207,Phones B,Technology,Phones,515.433745,5,0.4,39.72
496,US-2017-979008,Furnishings D,Furniture,Furnishings,339.380000,8,0.2,65.81
497,IN-2019-980328,Labels D,Office Supplies,Labels,515.433745,10,0.3,62.59
499,IN-2018-943633,Machines B,Technology,Machines,203.250000,3,0.4,13.56

In [82]:
data['Category'] = data['Category'].isnull() == "Hello"
arr = np.where(data['Category'] == "Furniture")
arr

(array([], dtype=int64),)

In [67]:

data.loc[27]

Order ID        IN-2017-927849
Product Name          Phones B
Category                  True
Sub-Category            Phones
Sales                    583.5
Quantity                     3
Discount                   0.1
Profit                  107.39
Name: 27, dtype: object

In [58]:
data.isnull().sum()

Order ID         0
Product Name     0
Category         0
Sub-Category     0
Sales            0
Quantity         0
Discount         0
Profit          30
dtype: int64